/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
  --default-font: "Roboto", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --heading-font: "Raleway", sans-serif;
  --default-color: #ffffff;
  --background-color: #000000;
  --heading-color: #ffffff;
  --accent-color: #007bff; /* Tambahkan accent color biru */
  width: calc(100% - 250px); /* Adjust the width to accommodate the navbar */
  min-height: 100vh;
  position: absolute; /* Changed from relative to absolute */
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Align items to the start (left) */
  left: 250px; /* Align hero section to start after navbar */
  font-family: var(--default-font); /* Gunakan default font */
}

.hero img {
  position: absolute;
  inset: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.hero:before {
  content: "";
  background: color-mix(in srgb, var(--background-color), transparent 70%);
  position: absolute;
  inset: 0;
  z-index: 2;
}

.hero .container {
  position: relative;
  z-index: 3;
  text-align: left; /* Align text to the left */
}

.hero h1 {
  font-size: 48px;
  font-weight: 700;
  color: var(--heading-color);
  font-family: var(--heading-font); /* Gunakan heading font */
}

.hero h2 {
  margin: 0;
  font-size: 64px;
  font-weight: 700;
  color: var(--heading-color);
  font-family: var(--heading-font); /* Gunakan heading font */
}

.hero p {
  margin: 5px 0 0 0;
  font-size: 26px;
  color: var(--heading-color);
  display: flex;
  align-items: center;
}

.hero p span {
  letter-spacing: 1px;
  border-bottom: 1px solid var(--accent-color); /* Ukuran garis bawah dikurangi */
}

.typed-container {
  margin-left: 5px; /* Tambahkan margin kiri untuk spasi */
}

.hero .typed-cursor {
  font-size: 26px;
  color: #ffffff; /* Warna kursor menjadi putih */
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.hero .social-links {
  margin-top: 25px;
}

.hero .social-links a {
  font-size: 24px;
  display: inline-block;
  color: color-mix(in srgb, var(--default-color), transparent 50%);
  line-height: 1;
  margin-right: 20px;
  transition: 0.3s;
}

.hero .social-links a:hover {
  color: var(--accent-color);
}

@media (max-width: 768px) {
  .hero h1 {
    font-size: 24px;
  }

  .hero h2 {
    font-size: 32px;
  }

  .hero p {
    font-size: 20px;
  }
}